<li>
	{{name}}

	<button class="change-veggie" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if veggie }}Make it veggie (beyond meat) !{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
